#tripal-genbank_parser-jobs_numbers {
  width: 200px;
  float: left;
}

#tripal-genbank_parser-jobs_view {
  padding-top: 28px;
}

#tripal-genbank_parser-jobs_note {
  clear: both;
  margin-top: 20px;
}